In [ ]:
# Created by: Jess Gallo
# Date created: 10/02/23
# Last Modified: 10/06/23
# Analytics Vidhya: The Sledge Hack: India vs Australia Cricket Hackathon

Are you a cricket and data science fan?

Welcome to The Sledge Hack - Experience the World's Biggest Cricket Hackathon before the upcoming epic clash between India and Australia at the ICC World Cup on Oct 8, 2023. It's a celebration of cricket passion and data science wizardry â€“ a must for every cricket fan and data enthusiast!

This hackathon is a tribute to the spirit of cricket and data science enthusiasts. Join us in the pre-World Cup cricket celebration and send your best wishes to Team India on their World Cup journey! 


Problem Statement

Your task is to make precise predictions regarding the runs scored and wickets taken by each player who has been carefully selected to represent their respective teams, India and Australia 15 members squad in the highly anticipated ICC World Cup 2023 clash on Oct 8, 2023.

To accomplish this, you will need to use data science models and techniques based upon extensive historical data encompassing both player and team performance, allowing you to offer well-informed predictions.


About the Dataset

We have provided with you a dataset containing the batting and bowling statistics of the 30 players selected for the ICC World Cup 2023 of both teams India and Australia. The dataset contains the batting and bowling stats of each ODI played by the cricketer throughout his career.

Column          Description

player_id       Unique identifier of a player
player_name     Name of the player
runs_scored     No. of runs scored by the player in the match
wickets         Wickets taken by the player in the match
runs_conceded   No. of runs conceded by the player
catches         No. of catches taken by the player
stumpings       No. of stumpings done by the player
match_date      Date of the match
opposition      Opponent team name and Ground 
match_id        Unique identifier of the match


Important: Feel free to use any open source dataset or external dataset for the hackathon.

You will need to predict the runs scored and wickets taken by these 30 players in the upcoming clash between India and Australia on Oct 8, 2023.


Sample Submission File

You need to submit the solution file similar to the sample submission file. The solution file must contain the format similar to the sample submission file given below. 

Column          Description

player_id       Unique identifier of the player
runs            No. of runs scored by the player
wickets         No. of wickets taken by the player



Evaluation metric

Your actual score will be generated only after the clash between India and Australia on Oct 8, 2023 comes to an end.

Your solution file will be evaluated against the actual runs and wickets taken by the player in the match and final score is the weighted average of the RMSE is calculated between the predictions and actual runs scored and wickets taken by the players.

At the moment, the leaderboard displays scores calculated in comparison to the benchmark model. This provides a useful reference for enhancing the model. However, it's important to note that the final score, determined based on player statistics after the match, may vary significantly. 

The final leaderboard is displayed after the clash between India and Australia on Oct 8, 2023.

In [1]:
# Libraries
import pandas as pd
import numpy as np

Data Gathering

In [2]:
df = pd.read_csv('C://Users//Gallo//Downloads//data_zpyYWs0.csv')

In [3]:
df.head(10)

,player_id,player_name,runs_scored,wickets,runs_conceded,catches,stumpings,match_date,opposition,match_id
0,1,Pat Cummins,DNB,3,28,0,0,19 Oct 2011,v South Africa Centurion,1
1,2,Steve Smith,DNB,-,-,0,0,19 Oct 2011,v South Africa Centurion,1
2,10,Mitch Marsh,8*,1,19,1,0,19 Oct 2011,v South Africa Centurion,1
3,13,David Warner,20,-,-,0,0,19 Oct 2011,v South Africa Centurion,1
4,1,Pat Cummins,11*,1,73,0,0,23 Oct 2011,v South Africa Gqeberha,2
5,2,Steve Smith,26,1,24,1,0,23 Oct 2011,v South Africa Gqeberha,2
6,13,David Warner,74,-,-,0,0,23 Oct 2011,v South Africa Gqeberha,2
7,1,Pat Cummins,6*,1,49,0,0,28 Oct 2011,v South Africa Durban,3
8,13,David Warner,10,-,-,1,0,28 Oct 2011,v South Africa Durban,3
9,1,Pat Cummins,TDNB,1,11,0,0,23 Jun 2012,v Ireland Belfast,4

EDA

In [4]:
df.shape

(2575, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      2575 non-null   int64
 1   player_name    2575 non-null   object
 2   runs_scored    2575 non-null   object
 3   wickets        2575 non-null   object
 4   runs_conceded  2575 non-null   object
 5   catches        2575 non-null   object
 6   stumpings      2575 non-null   object
 7   match_date     2575 non-null   object
 8   opposition     2575 non-null   object
 9   match_id       2575 non-null   int64
dtypes: int64(2), object(8)
memory usage: 201.3+ KB

In [6]:
# Checking to see if any columns have missing data
df.isnull().any()

player_id        False
player_name      False
runs_scored      False
wickets          False
runs_conceded    False
catches          False
stumpings        False
match_date       False
opposition       False
match_id         False
dtype: bool

In [7]:
df.describe()

         player_id     match_id
count  2575.000000  2575.000000
mean     15.926214   248.114951
std       7.663574   168.410523
min       1.000000     1.000000
25%      11.000000    77.000000
50%      16.000000   204.000000
75%      22.000000   411.000000
max      30.000000   557.000000

Data Cleaning & Preparation

In [8]:
# Changing match_date column to datetime instead of object
df['match_date'] = pd.to_datetime(df['match_date'])  #, format='%d %m %y')
df['match_date'].head()

0   2011-10-19
1   2011-10-19
2   2011-10-19
3   2011-10-19
4   2011-10-23
Name: match_date, dtype: datetime64[ns]

In [9]:
# Separate out day
day = df['match_date'].dt.day
day.rename('Day', inplace=True)
day.head()

0    19
1    19
2    19
3    19
4    23
Name: Day, dtype: int64

In [10]:
# Separate out month
month = df['match_date'].dt.month
month.rename('Month', inplace=True)
month.head()

0    10
1    10
2    10
3    10
4    10
Name: Month, dtype: int64

In [11]:
# Separate out year
year = df['match_date'].dt.year
year.rename('Year', inplace=True)
year.head()

0    2011
1    2011
2    2011
3    2011
4    2011
Name: Year, dtype: int64

In [14]:
# Drop match_date column
df = df.drop(['match_date'], axis=1)

In [15]:
# Concatinate day, month and year columns onto original dataframe
df = pd.concat([df, day, month, year], axis=1)
df.head()

,player_id,player_name,runs_scored,wickets,runs_conceded,catches,stumpings,opposition,match_id,Day,Month,Year,Day,Month,Year
0,1,Pat Cummins,DNB,3,28,0,0,v South Africa Centurion,1,19,10,2011,19,10,2011
1,2,Steve Smith,DNB,-,-,0,0,v South Africa Centurion,1,19,10,2011,19,10,2011
2,10,Mitch Marsh,8*,1,19,1,0,v South Africa Centurion,1,19,10,2011,19,10,2011
3,13,David Warner,20,-,-,0,0,v South Africa Centurion,1,19,10,2011,19,10,2011
4,1,Pat Cummins,11*,1,73,0,0,v South Africa Gqeberha,2,23,10,2011,23,10,2011

In [16]:
# Checking all the unique data in the runs_scored column
df['runs_scored'].unique()

array(['DNB', '8*', '20', '11*', '26', '74', '6*', '10', 'TDNB', '4', '8',
       '56', '1*', '104', '2', '0', '67', '7', '21', '37', '127', '0*',
       '47', '24', '138', '9', '2*', '14*', '102*', '7*', '1', '34',
       '21*', '11', '84', '44', '40*', '15', '59', '70', '64', '49', '5',
       '25', '13', '17', '85', '12', '164', '52', '72', '57', '76*',
       '119', '156', '39', '60', '29', '23', '16', '3', '108*', '23*',
       '35', '51', '78', '130', '128', '179', '6', '36', '146*', '27',
       '53', '42', '29*', '18', '22*', '71*', '5*', '28', '83', '14',
       '62*', '92', '10*', '63', '27*', '71', '15*', '124', '65', '41',
       '46', '125', '50', '45', '55', '96', '32', '33', '22', '36*', '40',
       '116', '31*', '123', '95', '25*', '4*', '89*', '73', '19', '69',
       '55*', '48', '82', '107', '46*', '17*', '166', '38', '38*', '122',
       '128*', '98', '80', '20*', '131', '54', '89', '44*', '76', '3*',
       '9*', '77', '43', '19*', '106', '108', '105', '90', '63*', '80*',
       '30', '99', '45*', '31', '86', '12*', '152', '58*', '81', '18*',
       '118', '24*', '93', '86*', '101', '73*', '66', '88', '178', '102',
       '56*', '149', '171*', '91', '26*', '117', '69*', '52*', '109',
       '79*', '58', '59*', '173', '87', '92*', '66*', '48*', '32*', '47*',
       '94', '13*', '61', '42*', '75*', '51*', '72*', '133', '70*', '62',
       '141*', '100*', '68', '79', '115*', '209', '163', '100', '39*',
       '60*', '43*', '114', '61*', '101*', '87*', '68*', '90*', '30*',
       '183', '33*', '49*', '115', '64*', '136', '264', '139*', '57*',
       '16*', '137', '150', '85*', '154*', '81*', '123*', '96*', '82*',
       '124*', '110*', '121', '147', '113', '208*', '112', '160*', '75',
       '129*', '137*', '83*', '111*', '152*', '140', '157*', '162',
       '122*', '103', '34*', '111', '120', '114*', '159', '166*', '208',
       '74*', '67*', '98*', '113*', '28*', '112*', '133*', '77*', '88*',
       '50*', '210'], dtype=object)

In [17]:
# Taking out the data with DNB and TDNB with 0s
df['runs_scored'] = df['runs_scored'].str.replace('DNB', '0', regex=True)
df['runs_scored'] = df['runs_scored'].str.replace('TDNB','0', regex=True)
# Taking out the data with * after the numbers
df['runs_scored'] = df['runs_scored'].str.replace(r'\D',' ', regex=True)
df['runs_scored'].unique()

array(['0', '8 ', '20', '11 ', '26', '74', '6 ', '10', ' 0', '4', '8',
       '56', '1 ', '104', '2', '67', '7', '21', '37', '127', '0 ', '47',
       '24', '138', '9', '2 ', '14 ', '102 ', '7 ', '1', '34', '21 ',
       '11', '84', '44', '40 ', '15', '59', '70', '64', '49', '5', '25',
       '13', '17', '85', '12', '164', '52', '72', '57', '76 ', '119',
       '156', '39', '60', '29', '23', '16', '3', '108 ', '23 ', '35',
       '51', '78', '130', '128', '179', '6', '36', '146 ', '27', '53',
       '42', '29 ', '18', '22 ', '71 ', '5 ', '28', '83', '14', '62 ',
       '92', '10 ', '63', '27 ', '71', '15 ', '124', '65', '41', '46',
       '125', '50', '45', '55', '96', '32', '33', '22', '36 ', '40',
       '116', '31 ', '123', '95', '25 ', '4 ', '89 ', '73', '19', '69',
       '55 ', '48', '82', '107', '46 ', '17 ', '166', '38', '38 ', '122',
       '128 ', '98', '80', '20 ', '131', '54', '89', '44 ', '76', '3 ',
       '9 ', '77', '43', '19 ', '106', '108', '105', '90', '63 ', '80 ',
       '30', '99', '45 ', '31', '86', '12 ', '152', '58 ', '81', '18 ',
       '118', '24 ', '93', '86 ', '101', '73 ', '66', '88', '178', '102',
       '56 ', '149', '171 ', '91', '26 ', '117', '69 ', '52 ', '109',
       '79 ', '58', '59 ', '173', '87', '92 ', '66 ', '48 ', '32 ', '47 ',
       '94', '13 ', '61', '42 ', '75 ', '51 ', '72 ', '133', '70 ', '62',
       '141 ', '100 ', '68', '79', '115 ', '209', '163', '100', '39 ',
       '60 ', '43 ', '114', '61 ', '101 ', '87 ', '68 ', '90 ', '30 ',
       '183', '33 ', '49 ', '115', '64 ', '136', '264', '139 ', '57 ',
       '16 ', '137', '150', '85 ', '154 ', '81 ', '123 ', '96 ', '82 ',
       '124 ', '110 ', '121', '147', '113', '208 ', '112', '160 ', '75',
       '129 ', '137 ', '83 ', '111 ', '152 ', '140', '157 ', '162',
       '122 ', '103', '34 ', '111', '120', '114 ', '159', '166 ', '208',
       '74 ', '67 ', '98 ', '113 ', '28 ', '112 ', '133 ', '77 ', '88 ',
       '50 ', '210'], dtype=object)

In [18]:
# Checking to see the unique data
df['wickets'].unique()

array(['3', '-', '1', '2', '0', '4', '6', '5'], dtype=object)

In [19]:
# Replacing - data with 0
df['wickets'] = df['wickets'].str.replace('-','0', regex=True)
df['wickets'].unique()

array(['3', '0', '1', '2', '4', '6', '5'], dtype=object)

In [20]:
# Checking to see the unique data
df['runs_conceded'].unique()

array(['28', '-', '19', '73', '24', '49', '11', '53', '61', '27', '43',
       '40', '54', '17', '52', '30', '60', '42', '37', '14', '44', '74',
       '22', '38', '7', '26', '41', '34', '48', '35', '29', '55', '56',
       '51', '50', '79', '33', '62', '66', '31', '32', '23', '45', '65',
       '13', '67', '21', '59', '47', '9', '20', '46', '39', '2', '58',
       '75', '63', '6', '15', '72', '71', '18', '16', '57', '70', '12',
       '64', '68', '25', '5', '78', '77', '8', '36', '82', '3', '81',
       '10', '4', '84', '1', '91', '103', '76', '113', '85', '69', '80',
       '87'], dtype=object)

In [21]:
# Replacing - data with 0
df['runs_conceded'] = df['runs_conceded'].str.replace('-','0', regex=True)
df['runs_conceded'].unique()

array(['28', '0', '19', '73', '24', '49', '11', '53', '61', '27', '43',
       '40', '54', '17', '52', '30', '60', '42', '37', '14', '44', '74',
       '22', '38', '7', '26', '41', '34', '48', '35', '29', '55', '56',
       '51', '50', '79', '33', '62', '66', '31', '32', '23', '45', '65',
       '13', '67', '21', '59', '47', '9', '20', '46', '39', '2', '58',
       '75', '63', '6', '15', '72', '71', '18', '16', '57', '70', '12',
       '64', '68', '25', '5', '78', '77', '8', '36', '82', '3', '81',
       '10', '4', '84', '1', '91', '103', '76', '113', '85', '69', '80',
       '87'], dtype=object)

In [22]:
df['catches'].unique()

array(['0', '1', '2', '4', '3', '-'], dtype=object)

In [23]:
# Replacing - data with 0
df['catches'] = df['catches'].str.replace('-','0', regex=True)
df['catches'].unique()

array(['0', '1', '2', '4', '3'], dtype=object)

In [24]:
df['stumpings'].unique()

array(['0', '2', '1', '-'], dtype=object)

In [25]:
# Replacing - data with 0
df['stumpings'] = df['stumpings'].str.replace('-','0', regex=True)
df['stumpings'].unique()

array(['0', '2', '1'], dtype=object)

In [26]:
df['opposition'].unique()

array(['v South Africa Centurion', 'v South Africa Gqeberha',
       'v South Africa Durban', 'v Ireland Belfast', "v England Lord's",
       'v South Africa Melbourne', 'v South Africa Sydney',
       'v England Sydney', 'v India Melbourne', 'v Australia Melbourne',
       'v England Hobart', 'v New Zealand Auckland', 'v Scotland Hobart',
       'v England Southampton', 'v England Manchester', 'v England Leeds',
       'v New Zealand Sydney', 'v New Zealand Canberra',
       'v New Zealand Melbourne', 'v Pakistan Brisbane',
       'v Pakistan Melbourne', 'v Pakistan Perth', 'v Pakistan Sydney',
       'v Pakistan Adelaide', 'v New Zealand Hamilton',
       'v New Zealand Birmingham', 'v Bangladesh The Oval',
       'v England Birmingham', 'v India Chennai', 'v Australia Chennai',
       'v India Eden Gardens', 'v Australia Eden Gardens',
       'v India Indore', 'v Australia Indore', 'v India Bengaluru',
       'v Australia Bengaluru', 'v India Nagpur', 'v Australia Nagpur',
       'v England Melbourne', 'v England Adelaide',
       'v South Africa Perth', 'v South Africa Adelaide',
       'v South Africa Hobart', 'v India Hyderabad',
       'v Australia Hyderabad', 'v India Ranchi', 'v Australia Ranchi',
       'v India Mohali', 'v Australia Mohali', 'v India Delhi',
       'v Australia Delhi', 'v Pakistan Abu Dhabi',
       'v Afghanistan Bristol', 'v West Indies Nottingham',
       'v India The Oval', 'v Australia The Oval', 'v Pakistan Taunton',
       'v Sri Lanka The Oval', 'v Bangladesh Nottingham',
       "v New Zealand Lord's", 'v South Africa Manchester',
       'v India Wankhede', 'v Australia Wankhede', 'v India Rajkot',
       'v Australia Rajkot', 'v South Africa Paarl',
       'v South Africa Bloemfontein', 'v India Sydney',
       'v Australia Sydney', 'v Sri Lanka Pallekele',
       'v Sri Lanka Colombo (RPS)', 'v West Indies Melbourne',
       'v England Cardiff', 'v England The Oval', 'v India Visakhapatnam',
       'v Australia Visakhapatnam', 'v Sri Lanka Melbourne',
       'v Sri Lanka Sydney', 'v Sri Lanka Brisbane', 'v England Brisbane',
       'v Zimbabwe Ahmedabad', 'v New Zealand Nagpur',
       'v Kenya Bengaluru', 'v Canada Bengaluru',
       'v Pakistan Colombo (RPS)', 'v Bangladesh Mirpur',
       'v Sri Lanka Hambantota', 'v Sri Lanka Adelaide',
       'v England Perth', 'v Zimbabwe Harare', 'v South Africa Harare',
       'v Pakistan Sharjah', 'v Pakistan Dubai (DSC)',
       'v South Africa Canberra', 'v Afghanistan Perth', 'v India Perth',
       'v Australia Perth', 'v India Brisbane', 'v Australia Brisbane',
       'v India Canberra', 'v Australia Canberra',
       'v New Zealand Wellington', 'v West Indies Providence',
       'v South Africa Providence', 'v South Africa Basseterre',
       'v West Indies Basseterre', 'v South Africa Bridgetown',
       'v West Indies Bridgetown', 'v Ireland Benoni',
       'v South Africa Johannesburg', 'v South Africa Cape Town',
       'v South Africa Potchefstroom', 'v Zimbabwe Townsville',
       'v New Zealand Cairns', 'v England Chester-le-Street',
       'v India Adelaide', 'v Australia Adelaide', 'v Pakistan Lahore',
       'v Sri Lanka Dambulla', 'v England Nottingham',
       'v Afghanistan Sharjah', 'v Sri Lanka Hobart',
       'v West Indies Perth', 'v West Indies Canberra',
       'v West Indies Sydney', 'v India Pune', 'v Australia Pune',
       'v India Jaipur', 'v Australia Jaipur', 'v New Zealand Perth',
       'v Scotland Edinburgh', 'v Sri Lanka Perth',
       'v West Indies Kingstown', 'v West Indies Gros Islet',
       'v South Africa Belfast', 'v Pakistan Jaipur',
       'v Sri Lanka Canberra', 'v Pakistan Mirpur', 'v Hong Kong Karachi',
       'v Pakistan Karachi', 'v Bangladesh Karachi',
       'v Sri Lanka Karachi', 'v England Rajkot', 'v England Indore',
       'v England Kanpur', 'v England Cuttack', 'v West Indies Kingston',
       'v South Africa Ahmedabad', 'v Zimbabwe Bulawayo',
       'v Sri Lanka Bulawayo', 'v Sri Lanka Harare',
       'v Bangladesh Dambulla', 'v Pakistan Dambulla',
       'v New Zealand Dambulla', 'v New Zealand Bengaluru',
       'v New Zealand Chennai', 'v West Indies Port of Spain',
       'v West Indies North Sound', 'v West Indies Cuttack',
       'v West Indies Visakhapatnam', 'v West Indies Ahmedabad',
       'v West Indies Indore', 'v West Indies Chennai',
       'v Sri Lanka Mirpur', 'v Pakistan Chennai', 'v England Mohali',
       'v England Dharamsala', 'v South Africa Cardiff',
       'v West Indies The Oval', 'v Pakistan Birmingham',
       'v Sri Lanka Cardiff', 'v Sri Lanka Kingston',
       'v Sri Lanka Port of Spain', 'v West Indies Kochi',
       'v West Indies Kanpur', 'v New Zealand Napier',
       'v Bangladesh Fatullah', 'v Sri Lanka Fatullah',
       'v Afghanistan Mirpur', 'v Sri Lanka Eden Gardens',
       'v Sri Lanka Ranchi', 'v U.A.E. Perth', 'v Ireland Hamilton',
       'v Zimbabwe Auckland', 'v Bangladesh Melbourne',
       'v South Africa Kanpur', 'v South Africa Indore',
       'v South Africa Rajkot', 'v South Africa Chennai',
       'v South Africa Wankhede', 'v New Zealand Dharamsala',
       'v New Zealand Delhi', 'v New Zealand Mohali',
       'v New Zealand Ranchi', 'v New Zealand Visakhapatnam',
       'v South Africa The Oval', 'v Bangladesh Birmingham',
       'v Pakistan The Oval', 'v New Zealand Wankhede',
       'v New Zealand Pune', 'v New Zealand Kanpur',
       'v Sri Lanka Dharamsala', 'v Sri Lanka Mohali',
       'v Sri Lanka Visakhapatnam', 'v Hong Kong Dubai (DSC)',
       'v Bangladesh Dubai (DSC)', 'v West Indies Guwahati',
       'v West Indies Pune', 'v West Indies Brabourne',
       'v West Indies Thiruvananthapuram',
       'v New Zealand Mount Maunganui', 'v South Africa Southampton',
       'v Pakistan Manchester', 'v Afghanistan Southampton',
       'v West Indies Manchester', 'v Sri Lanka Leeds',
       'v New Zealand Manchester', 'v England Pune',
       'v Sri Lanka Guwahati', 'v Sri Lanka Thiruvananthapuram',
       'v New Zealand Hyderabad', 'v New Zealand Raipur',
       'v New Zealand Indore', 'v Pakistan Pallekele',
       'v Nepal Pallekele', 'v Bangladesh Colombo (RPS)',
       'v England Eden Gardens', 'v West Indies Tarouba',
       'v South Africa Lucknow', 'v South Africa Ranchi',
       'v South Africa Delhi', 'v New Zealand Christchurch',
       'v Pakistan Centurion', 'v Australia Centurion',
       'v West Indies Johannesburg', 'v Australia Vadodara',
       'v Sri Lanka Rajkot', 'v Sri Lanka Nagpur', 'v Sri Lanka Delhi',
       'v South Africa Jaipur', 'v South Africa Gwalior',
       'v New Zealand Guwahati', 'v New Zealand Jaipur',
       'v New Zealand Vadodara', 'v England Bengaluru',
       'v Ireland Bengaluru', 'v Netherlands Delhi',
       'v South Africa Nagpur', 'v Australia Ahmedabad',
       'v Pakistan Mohali', 'v Sri Lanka Wankhede', 'v England Hyderabad',
       'v England Delhi', 'v England Wankhede', 'v Pakistan Eden Gardens',
       'v Pakistan Delhi', 'v England Kochi', 'v England Ranchi',
       'v West Indies Delhi', 'v West Indies Dharamsala',
       'v Sri Lanka Cuttack', 'v Sri Lanka Ahmedabad',
       'v Sri Lanka Hyderabad', 'v Bangladesh Chattogram',
       'v Afghanistan Dubai (DSC)', 'v Australia Guwahati'], dtype=object)

In [27]:
# Replacing - data with 0
df['opposition'] = df['opposition'].str.replace('v ','', regex=True)
df['opposition'].unique()

array(['South Africa Centurion', 'South Africa Gqeberha',
       'South Africa Durban', 'Ireland Belfast', "England Lord's",
       'South Africa Melbourne', 'South Africa Sydney', 'England Sydney',
       'India Melbourne', 'Australia Melbourne', 'England Hobart',
       'New Zealand Auckland', 'Scotland Hobart', 'England Southampton',
       'England Manchester', 'England Leeds', 'New Zealand Sydney',
       'New Zealand Canberra', 'New Zealand Melbourne',
       'Pakistan Brisbane', 'Pakistan Melbourne', 'Pakistan Perth',
       'Pakistan Sydney', 'Pakistan Adelaide', 'New Zealand Hamilton',
       'New Zealand Birmingham', 'Bangladesh The Oval',
       'England Birmingham', 'India Chennai', 'Australia Chennai',
       'India Eden Gardens', 'Australia Eden Gardens', 'India Indore',
       'Australia Indore', 'India Bengaluru', 'Australia Bengaluru',
       'India Nagpur', 'Australia Nagpur', 'England Melbourne',
       'England Adelaide', 'South Africa Perth', 'South Africa Adelaide',
       'South Africa Hobart', 'India Hyderabad', 'Australia Hyderabad',
       'India Ranchi', 'Australia Ranchi', 'India Mohali',
       'Australia Mohali', 'India Delhi', 'Australia Delhi',
       'Pakistan Abu Dhabi', 'Afghanistan Bristol',
       'West Indies Nottingham', 'India The Oval', 'Australia The Oval',
       'Pakistan Taunton', 'Sri Lanka The Oval', 'Bangladesh Nottingham',
       "New Zealand Lord's", 'South Africa Manchester', 'India Wankhede',
       'Australia Wankhede', 'India Rajkot', 'Australia Rajkot',
       'South Africa Paarl', 'South Africa Bloemfontein', 'India Sydney',
       'Australia Sydney', 'Sri Lanka Pallekele',
       'Sri Lanka Colombo (RPS)', 'West Indies Melbourne',
       'England Cardiff', 'England The Oval', 'India Visakhapatnam',
       'Australia Visakhapatnam', 'Sri Lanka Melbourne',
       'Sri Lanka Sydney', 'Sri Lanka Brisbane', 'England Brisbane',
       'Zimbabwe Ahmedabad', 'New Zealand Nagpur', 'Kenya Bengaluru',
       'Canada Bengaluru', 'Pakistan Colombo (RPS)', 'Bangladesh Mirpur',
       'Sri Lanka Hambantota', 'Sri Lanka Adelaide', 'England Perth',
       'Zimbabwe Harare', 'South Africa Harare', 'Pakistan Sharjah',
       'Pakistan Dubai (DSC)', 'South Africa Canberra',
       'Afghanistan Perth', 'India Perth', 'Australia Perth',
       'India Brisbane', 'Australia Brisbane', 'India Canberra',
       'Australia Canberra', 'New Zealand Wellington',
       'West Indies Providence', 'South Africa Providence',
       'South Africa Basseterre', 'West Indies Basseterre',
       'South Africa Bridgetown', 'West Indies Bridgetown',
       'Ireland Benoni', 'South Africa Johannesburg',
       'South Africa Cape Town', 'South Africa Potchefstroom',
       'Zimbabwe Townsville', 'New Zealand Cairns',
       'England Chester-le-Street', 'India Adelaide',
       'Australia Adelaide', 'Pakistan Lahore', 'Sri Lanka Dambulla',
       'England Nottingham', 'Afghanistan Sharjah', 'Sri Lanka Hobart',
       'West Indies Perth', 'West Indies Canberra', 'West Indies Sydney',
       'India Pune', 'Australia Pune', 'India Jaipur', 'Australia Jaipur',
       'New Zealand Perth', 'Scotland Edinburgh', 'Sri Lanka Perth',
       'West Indies Kingstown', 'West Indies Gros Islet',
       'South Africa Belfast', 'Pakistan Jaipur', 'Sri Lanka Canberra',
       'Pakistan Mirpur', 'Hong Kong Karachi', 'Pakistan Karachi',
       'Bangladesh Karachi', 'Sri Lanka Karachi', 'England Rajkot',
       'England Indore', 'England Kanpur', 'England Cuttack',
       'West Indies Kingston', 'South Africa Ahmedabad',
       'Zimbabwe Bulawayo', 'Sri Lanka Bulawayo', 'Sri Lanka Harare',
       'Bangladesh Dambulla', 'Pakistan Dambulla', 'New Zealand Dambulla',
       'New Zealand Bengaluru', 'New Zealand Chennai',
       'West Indies Port of Spain', 'West Indies North Sound',
       'West Indies Cuttack', 'West Indies Visakhapatnam',
       'West Indies Ahmedabad', 'West Indies Indore',
       'West Indies Chennai', 'Sri Lanka Mirpur', 'Pakistan Chennai',
       'England Mohali', 'England Dharamsala', 'South Africa Cardiff',
       'West Indies The Oval', 'Pakistan Birmingham', 'Sri Lanka Cardiff',
       'Sri Lanka Kingston', 'Sri Lanka Port of Spain',
       'West Indies Kochi', 'West Indies Kanpur', 'New Zealand Napier',
       'Bangladesh Fatullah', 'Sri Lanka Fatullah', 'Afghanistan Mirpur',
       'Sri Lanka Eden Gardens', 'Sri Lanka Ranchi', 'U.A.E. Perth',
       'Ireland Hamilton', 'Zimbabwe Auckland', 'Bangladesh Melbourne',
       'South Africa Kanpur', 'South Africa Indore',
       'South Africa Rajkot', 'South Africa Chennai',
       'South Africa Wankhede', 'New Zealand Dharamsala',
       'New Zealand Delhi', 'New Zealand Mohali', 'New Zealand Ranchi',
       'New Zealand Visakhapatnam', 'South Africa The Oval',
       'Bangladesh Birmingham', 'Pakistan The Oval',
       'New Zealand Wankhede', 'New Zealand Pune', 'New Zealand Kanpur',
       'Sri Lanka Dharamsala', 'Sri Lanka Mohali',
       'Sri Lanka Visakhapatnam', 'Hong Kong Dubai (DSC)',
       'Bangladesh Dubai (DSC)', 'West Indies Guwahati',
       'West Indies Pune', 'West Indies Brabourne',
       'West Indies Thiruvananthapuram', 'New Zealand Mount Maunganui',
       'South Africa Southampton', 'Pakistan Manchester',
       'Afghanistan Southampton', 'West Indies Manchester',
       'Sri Lanka Leeds', 'New Zealand Manchester', 'England Pune',
       'Sri Lanka Guwahati', 'Sri Lanka Thiruvananthapuram',
       'New Zealand Hyderabad', 'New Zealand Raipur',
       'New Zealand Indore', 'Pakistan Pallekele', 'Nepal Pallekele',
       'Bangladesh Colombo (RPS)', 'England Eden Gardens',
       'West Indies Tarouba', 'South Africa Lucknow',
       'South Africa Ranchi', 'South Africa Delhi',
       'New Zealand Christchurch', 'Pakistan Centurion',
       'Australia Centurion', 'West Indies Johannesburg',
       'Australia Vadodara', 'Sri Lanka Rajkot', 'Sri Lanka Nagpur',
       'Sri Lanka Delhi', 'South Africa Jaipur', 'South Africa Gwalior',
       'New Zealand Guwahati', 'New Zealand Jaipur',
       'New Zealand Vadodara', 'England Bengaluru', 'Ireland Bengaluru',
       'Netherlands Delhi', 'South Africa Nagpur', 'Australia Ahmedabad',
       'Pakistan Mohali', 'Sri Lanka Wankhede', 'England Hyderabad',
       'England Delhi', 'England Wankhede', 'Pakistan Eden Gardens',
       'Pakistan Delhi', 'England Kochi', 'England Ranchi',
       'West Indies Delhi', 'West Indies Dharamsala', 'Sri Lanka Cuttack',
       'Sri Lanka Ahmedabad', 'Sri Lanka Hyderabad',
       'Bangladesh Chattogram', 'Afghanistan Dubai (DSC)',
       'Australia Guwahati'], dtype=object)

In [28]:
df.isnull().any()

player_id        False
player_name      False
runs_scored      False
wickets          False
runs_conceded    False
catches          False
stumpings        False
opposition       False
match_id         False
Day              False
Month            False
Year             False
Day              False
Month            False
Year             False
dtype: bool

In [29]:
df['runs_scored'] = df['runs_scored'].astype(str).astype(int) 
df['wickets'] = df['wickets'].astype(str).astype(int) 
df['runs_conceded'] = df['runs_conceded'].astype(str).astype(int) 
df['catches'] = df['catches'].astype(str).astype(int) 
df['stumpings'] = df['stumpings'].astype(str).astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      2575 non-null   int64
 1   player_name    2575 non-null   object
 2   runs_scored    2575 non-null   int32
 3   wickets        2575 non-null   int32
 4   runs_conceded  2575 non-null   int32
 5   catches        2575 non-null   int32
 6   stumpings      2575 non-null   int32
 7   opposition     2575 non-null   object
 8   match_id       2575 non-null   int64
 9   Day            2575 non-null   int64
 10  Month          2575 non-null   int64
 11  Year           2575 non-null   int64
 12  Day            2575 non-null   int64
 13  Month          2575 non-null   int64
 14  Year           2575 non-null   int64
dtypes: int32(5), int64(8), object(2)
memory usage: 251.6+ KB

In [31]:
df.shape

(2575, 15)

In [32]:
# One Hot Encoder

# Convert categorical features using OHE
df = pd.get_dummies(data=df, columns=['player_name', 'opposition'])

df.head(3)

,player_id,runs_scored,wickets,runs_conceded,catches,stumpings,match_id,Day,Month,Year,...,opposition_West Indies Sydney,opposition_West Indies Tarouba,opposition_West Indies The Oval,opposition_West Indies Thiruvananthapuram,opposition_West Indies Visakhapatnam,opposition_Zimbabwe Ahmedabad,opposition_Zimbabwe Auckland,opposition_Zimbabwe Bulawayo,opposition_Zimbabwe Harare,opposition_Zimbabwe Townsville
0,1,0,3,28,0,0,1,19,10,2011,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,1,19,10,2011,...,0,0,0,0,0,0,0,0,0,0
2,10,8,1,19,1,0,1,19,10,2011,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df.shape

(2575, 309)

Model Development